/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #161418; /* Qora fon */
    color: #eee;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
    border: 1px solid #ffffff22;
    border-radius: 0.7rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    margin: 2rem auto;
    width: 90%;
    max-width: 1200px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar .logo:hover {
    color: #ee83e5; /* Logo hover rangi */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #a89ec9;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
    color: #ee83e5;
    transform: scale(1.1);
}

.search-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-box input {
    padding: 8px 15px;
    border: 1px solid #ffffff22;
    border-radius: 20px;
    background-color: #282c34;
    color: #eee;
    outline: none;
    transition: border 0.3s;
}

.search-box input:focus {
    border-color: #ee83e5;
}

.search-box button {
    padding: 8px 15px;
    background-color: #ee83e5;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.search-box button:hover {
    background-color: #a86bb9;
    transform: scale(1.05);
}
